<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Creative portfolio</title>
    <meta name="description" content="Describe your website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,700,400italic">
    <link rel="stylesheet" href="https://example.org/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://example.org/css/owl.carousel.css">
    <link rel="stylesheet" href="https://example.org/css/owl.theme.css">


    <link href="https://example.org/css/style.default.css" rel="stylesheet" id="theme-stylesheet">




    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->



    <link href="https://example.org/css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://example.org/img/favicon.png">

    <link href="https://example.org/portfolio/index.xml" rel="alternate" type="application/rss+xml"
        title="Creative portfolio" />


</head>