<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
    <div class="sidebar-content">
        <h1 class="sidebar-heading"><a href="/">SUNBEAM.Studio</a></h1> <!-- picture-->

        <p class="sidebar-p">I am a creative illustrator and graphic designer with more than 10 years of
            experience.
        </p>

        <p class="sidebar-p">Originally from Toronto, currently based in London.</p>

        <ul class="sidebar-menu">

            <li><a href="/">Home</a></li>

            <li><a href="/about/">About</a></li>

            <li><a href="/contact/">Out Service</a></li>

            <li><a href="/blog/">Blog</a></li>

            <li><a href="/contact/">Contact Us</a></li>

        </ul>
        <p class="social">

            <a href="https://www.facebook.com/sunbeamstudio.co" data-animate-hover="pulse" class="external facebook">
                <i class="fa fa-facebook"></i>
            </a>


            <!-- <a href="full%20profile%20url%20in%20twitter" data-animate-hover="pulse" class="external twitter">
                <i class="fa fa-twitter"></i>
            </a> -->


            <a href="https://instagram.com/chuchu_photograph?igshid=1ib59t7wm3koc" title="" class="external instagram">
                <i class="fa fa-instagram"></i>
            </a>

            <a href="full%20profile%20url%20in%20linkedin" data-animate-hover="pulse" class="external">
                <i class="fa fa-linkedin"></i>
            </a>

            <a href="mailto:email@example.com" data-animate-hover="pulse" class="email">
                <i class="fa fa-envelope"></i>
            </a>

            <!-- <a href="full%20profile%20url%20in%20github" data-animate-hover="pulse" class="external">
                <i class="fa fa-github"></i>
            </a> -->


            <!-- <a href="full%20profile%20url%20in%20youtube" data-animate-hover="pulse" class="external">
                <i class="fa fa-youtube"></i>
            </a>

            <a href="wa.me%20service%20link" data-animate-hover="pulse" class="external">
                <i class="fa fa-whatsapp"></i>
            </a> -->

        </p>


        <div class="copyright">
            <p class="credit">

                &copy;2016 Your name or company |

                Template by <a href="https://bootstrapious.com/free-templates" class="external">Bootstrapious.com</a>

                &amp; ported to Hugo by <a href="https://github.com/kishaningithub">Kishan B</a>

            </p>
        </div>
    </div>
</div>